* {
  margin: 0;
  padding: 0;
  /* css3盒子模型，固定大小 */
  box-sizing: border-box;
}
/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal
}
/* 去掉li 的小圆点 */
li {
  list-style: none
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer
}

a {
  color: #666;
  text-decoration: none
}

body {
  background-color: #f4f4f4;
  
}


header ul {
  height: 70px;
  /* background-color: pink; */
}

header ul li {
  display: inline-block;
  line-height: 70px;
  padding-left: 60px;
}

header .user {
  float: right;
  margin: 10px 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user img {
  width: 100%;
}

aside {
  position: fixed;
  left: 20px;
  top: 20%;
  opacity: 0.6;
  width: 15%;
  height: 70%;
}

aside ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

aside ul li{
  padding-left: 0;
  display: block;
  width: 60%;
  height: 8%;
  margin: 2px;
}

.swiper{
  display: flex;
}

aside ul li a {
  display: block;
  width: 100%;
  height: 100%;
}


aside ul li img {
  width: 100%;
  height: 100%;
  /* border-radius: 4rem; */
  object-fit: cover;
  z-index: -1;
}

aside ul li:nth-child(1) {
  animation: swiper 9s infinite;
}
aside ul li:nth-child(2) {
  animation: swiper 9s 3s infinite;
}
aside ul li:nth-child(3) {
  animation: swiper 9s 6s infinite;
}


@keyframes swiper {
  0%{
    width: 60%;
    height: 8%;
    border-radius: 20rem;
  }
  2%{
    width: 90%;
    height: 10%;
    border-radius: 3.6rem;
  }
  34%{
    width: 90%;
    height: 10%;
    border-radius: 3.6rem;
  }
  36%{
    width: 60%;
    height: 8%;
    border-radius: 20rem;
  }
  100%{
    width: 60%;
    height: 8%;
    border-radius: 20rem;
  }
}


main .aside {
  float: right;
  margin-top: 50px;
  width: 200px;
  z-index: 10;
}


main .datas {
  width: 200px;
  text-align: center;
}

main .times {
  padding-top: 10px;
  width: 200px;
  text-align: center;
}

main .main {
  margin: 0px auto;
  width: 800px;
}

main .main .text {
  padding-top: 20px;
}

main .main .pic {
  padding-top: 20px;
  display: none;
}

main .main .control {
  position: relative;
  height: 200px;
  background-color: #fff;
  background: url(../background/bg2.png) no-repeat;
}

main .main .control #text{
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0.7;
}

main .main .control #images{
  position: absolute;
  bottom: 20px;
  left: 80px;
  opacity: 0.7;

}

main .main .control .introduce{
  position: absolute;
  bottom: 80px;
  left: 40%;
  font-size: 28px;
}

footer {
  height: 150px;
  text-align: center;
  line-height: 150px;
}










