* {
  margin: 0;
  padding: 0;
  /* css3盒子模型，固定大小 */
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot?p4ssmb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p4ssmb') format('truetype'),
    url('../fonts/icomoon.woff?p4ssmb') format('woff'),
    url('../fonts/icomoon.svg?p4ssmb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
  font-style: normal
}
/* 去掉li 的小圆点 */
li {
  list-style: none
}

img {
  /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
  border: 0;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

a {
  color: #666;
  text-decoration: none
}

body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  
}

header {
  background-color: #fff;
}

header ul {
  height: 70px;
  /* background-color: pink; */
  margin-left: 20px;
}

header ul li {
  display: inline-block;
  line-height: 70px;
  width: 8%;
  text-align: center;
}

header .user {
  float: right;
  margin: 10px 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user img {
  width: 100%;
}


.aside-l {
  position: fixed;
  left: 20px;
  top: 20%;
  width: 15%;
  height: 70%;
}

.aside-l ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.aside-l ul li{
  position: relative;
  padding-left: 0;
  display: block;
  width: 60%;
  height: 8%;
  margin: 5px;
  opacity: 0.7;
  min-width: 80px;
  min-height: 40px;
}

.swiper{
  display: flex;
}

.aside-l ul li a {
  display: block;
  width: 100%;
  height: 100%;
}


.aside-l ul li img {
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  object-fit: cover;
  z-index: -1;
}

.aside-l ul li:nth-child(1) {
  animation: swiper 9s infinite;
}
.aside-l ul li:nth-child(2) {
  animation: swiper 9s 3s infinite;
}
.aside-l ul li:nth-child(3) {
  animation: swiper 9s 6s infinite;
}


@keyframes swiper {
  0%{
    width: 60%;
    height: 8%;
    border-radius: 20rem;
  }
  2%{
    width: 90%;
    height: 10%;
    border-radius: 3.6rem;

  }
  34%{
    width: 90%;
    height: 10%;
    border-radius: 3.6rem;

  }
  36%{
    width: 60%;
    height: 8%;
    border-radius: 20rem;

  }
  100%{
    width: 60%;
    height: 8%;
    border-radius: 20rem;

  }
}


.aside-l ul li i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  color: #000;
}

 .aside-r  {
  position: fixed;
  right: 20px;
  top: 20%;
  width: 15%;
  height: 70%;
}


 .aside-r .datas {
  width: 200px;
  text-align: center;
}

 .aside-r .times {
  padding-top: 10px;
  width: 200px;
  text-align: center;
}


main {
  margin: auto;
  width: 80%;
  height: 100%;
}


main .main {
  margin: 40px auto;
  width: 768px;
  height: 80%;
  background-color: #fff;
}


main .main .pic {
  position: relative;
  display: none;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

main .main .pic img {
  position: absolute;
  top: 0px;
  left: 0;
}

main .main .pic .up {
position: absolute;
top: 0;
left: 50%;
opacity: 0.2;
}

main .main .pic .up::after {
  content: "\f077";
  font-family: 'icomoon';
  font-size: 20px;
}

main .main .pic .down {
  position: absolute;
  bottom: 0;
  left: 50%;
  }
  
main .main .pic .down::after {
    content: "\f078";
    font-family: 'icomoon';
    font-size: 20px;
  }


main .main .pic img{
  width: 100%;
}

main .main .control {
  position: relative;
  height: 180px;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
  background: url(../background/bg2.png) no-repeat;
}

main .main .control button {
  width: 7%;
  border-radius: 9px;
  padding: 2px;
  border: none;
  background-color: green;
  opacity: 0.7;
}

main .main .control button:hover {
  opacity: 1;
}

main .main .control #text{
  position: absolute;
  bottom: 20px;
  left: 20px;
  
}

main .main .control #images{
  position: absolute;
  bottom: 20px;
  left: 80px;
  
}

main .main .control .introduce{
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 28px;
}

main .main .scroll {
  position: relative;
  overflow: hidden;
  border: 1px solid green;
  display: block;
  width: 100%;
  margin: auto;
  height: 580px;
  overflow: auto;
}

.scroll::after {
  position: absolute;
  left: 0;
  right: 5px;
  top: 8px;
  bottom: 0;
  background-color: #fff;
  content: "";
}


.text {
  overflow: auto;
  height: 100%;
  overflow-x: hidden;
}

.text::-webkit-scrollbar {
  width: 5px;
}

.text::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.text::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #66f;
}

.text article {
  padding: 15px 10px;
  margin-right: -8px;
  margin-top: 10px;
  background: linear-gradient(to left bottom, #f0f0f0 50%,#f66 50%) no-repeat;
  background-size: 100% calc(100% - 568px);
}


.text article>* {
  position: relative;
  z-index: 9;
}
















footer {
  position: absolute;
  bottom: 0;
  height: 8%;
  width: 100%;
  text-align: center;
  line-height: 90px;
  background-color: #fff;
}










